/* Variables globales */

$primary-color: #FFEFE7;
$text-color: #7C6A0A;
$theme-green: #BABD8D;
$theme-pink: #FFDAC6;
$font-IBM: "IBM Plex Sans", sans-serif;

/* Estilos básicos para vanila del HTML */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: $font-IBM;
}

body {
    background: $primary-color;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
    padding: 1rem;

    .menu__title {
        font-size: 2rem;
        font-weight: 500;
        color: $text-color;
    }

    .menu__options {
        display: flex;
        list-style: none;
        gap: 1rem;
        .menu__icon {
            img {
                width: 3.2rem;
                height: 3.2rem;
            }
        }
    }
}

/* Estilos para poder hacer mobile first, debido a los tamaños */
.section-main {
    .section-main__image {
        img {
            width: 20rem;
            height: 20rem;
        }
    }
}

.section-gallery__container {
    .section-gallery__image {
        img {
            width: 20rem;
            height: 20rem;
        }
    }
}

.section-location__container {
    .section-location__map {
        img {
            width: 20rem;
            height: 20rem;
        }
    }
}