/* Variables globales */

$primary-color: #FFEFE7;
$text-color: #7C6A0A;
$theme-green: #BABD8D;
$theme-pink: #FFDAC6;
$font-IBM: "IBM Plex Sans", sans-serif;

/* Estilos básicos para vanila del HTML */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: $font-IBM;
}